@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container{
    background-color: #1a1a1d !important; /* Dark background */
    width: 90%; /* Adjust width for better responsiveness */
    width: 80%; 
    max-width: 1200px;
    min-width: 80vw;
    margin:  auto;
    min-height: 80vh;
    height: auto; /* Allow flexible height */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 2%; /* Use percentages for better responsiveness */
    color: white;
    border-radius: 10px;
    position: relative;
    min-height: 90vh;
    overflow: hidden;
    justify-content: space-between;
}

.top-bar {
    position: relative;
    width: 100%;
    background-color: #1a1a1d; /* Dark background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    border-bottom: 1px solid #302f32;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.top-bar .user-info img{
    border-radius: 50%;
    width: 40px;  
    height: 40px;
    margin-left: 20px;
}


.top-bar button{
    background-color: #28272a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    width: 45px; /* Ensures circular shape */
    height: 45px;
    margin-left: auto;
    margin-right: 20px;
}

.top-bar button:hover{
    background-color: #ffcc00;
    color: black;
}

.top-bar .nav-btns{
    display: flex;
    flex-direction: row;
}

.join-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 80px;
    flex-grow: 1; /* Helps it push to the center */
}

.join-room h1{
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
}

.join-room input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
    background-color: #222;
    color: white;
    text-align: center;
}

.join-room button {
    width: 60%;
    padding: 10px;
    background-color: #f2b040;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.join-room button:hover {
    background-color: #dc753e;
}


.login-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    flex-grow: 1;
}

.login-class h2{
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
    font-size: 70px;
}

.login-class .google-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b6df3;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    color: wheat;
    transition: 0.3s;
    width: 250px;
}

.login-class .google-login-btn:hover{
    background-color: #6b8ff3;
}

.message-area{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
}


.message-list{
    width: 100%;
    max-width: 1100px;
    padding: 10px;
    padding-top: 6vw;
    min-width: 80vw;
    height: 65vh; /* Set a fixed height */
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    scroll-behavior: smooth;
    background: #1a1a1d; /* Optional: background for visibility */
    border-radius: 10px;
    flex-grow: 1;
}

.message-list::-webkit-scrollbar {
    width: 5px;
}

.message-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


.message-box {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 70%;
}

.message-box .message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align timestamp properly */
}

.message-box .timestamp{
    font-size: 9px;
    color: #888;
    margin-top: 4px;
    margin-right: 4px;
    text-align: right;
}

.left {
    align-self: flex-start;
    background: #1a1a1d;
    justify-content: flex-start;
    flex-direction: row-reverse;
    color: black;
}

.right {
    align-self: flex-end;
    background: #1a1a1d;
    color: white;
    justify-content: flex-end;
}

.message-box .message-bubble{
    position: relative;
    padding: 12px 18px;
    color: white;
    background: #4876f6;
    border-radius: 15px;
    max-width: 300px;
    word-wrap: break-word;
}

.message-box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right .message-bubble{
    background: #2c2b32;

}

.right img{
    margin-left: 10px;
}

.left .message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align timestamp properly */
}

.left .message-content .timestamp{
    margin-left: 4px;
}

.input-class {
    width: 100%;
    display: flex;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #1a1a1d;
    position: sticky;
}

.input-class form{
    display: flex;
    width: 100%;
    max-width: 1300px;
    gap: 10px; /* Space between input and button */
}

.input-class input {
    flex-grow: 1; /* Makes input take most of the space */
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline: none;
    background-color: #222;
    color: white;
}

.input-class label{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color: #222;
    border: none;
    border-radius: 50%; /* Circular button */
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.input-class label:hover{
    background-color: #dc753e;
}

.input-class button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2b040;
    border: none;
    border-radius: 50%; /* Circular button */
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}

.input-class button:hover {
    background-color: #dc753e;
}

.image-preview {
    position: absolute;
    bottom: 60px; /* Adjust based on input box height */
    left: 20px;
    background: #212025;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    justify-content: center;
    min-width: 18vw;
    max-width: 20vw;
    min-height: 13vw;
    max-height: 20vw;
}

.preview-img {
    max-width: 18vw;
    max-height: 18vw;
    border-radius: 10px;
    object-fit: cover;
}

.image-preview .remove-preview {
    position: absolute;
    top: -0.5vw;
    right: -2vw;
    background: #f2b040;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.message-content .sent-image{
    width: 50%;
    height: 30%;
    border-radius: 10px;
    margin-top: 5px;
}

.nav-btns .user-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-btns .dropdown-content{
    display: flex;
    flex-direction: column;
    top: 80px;
    max-height: 40vh;
    align-items: start;
    position: absolute;
    padding: 5px 0;
    background-color: #222;
    overflow-y: auto;
    scroll-behavior: smooth;
    border: 1px solid #222;
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content .user-info{
    margin-right: 13px;
}

.nav-btns .dropdown-content img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1px;
}

.nav-btns .dropdown-content p{
    font-size: 14px;
}




/* width: 100%;
    display: flex;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #1a1a1d;
    position: sticky; */